[Unit]
Description=uWSGI instance to serve pywer4
After=network.target

[Service]
User=tarte
Group=www-data
WorkingDirectory=/home/tarte/dev/pywer4
Environment="PATH=/home/tarte/dev/pywer4/.env/bin"
ExecStart=/home/tarte/dev/pywer4/.env/bin/uwsgi --ini pywer4.ini

[Install]
WantedBy=multi-user.target
